<section class="hero is-fullheight-with-navbar is-warning">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Farmacia Pepe</p>
      <p class="subtitle">Farmacia 100% real :p</p>
      <p class="label">Dale un vistazo a nuestros <a routerLink="productos">medicamentos</a>!</p>
    </div>
  </div>

  <div class="hero-footer">
    <div class="container has-text-centered">
      <p>Farmacias pepe</p>
      <p>farmacia&#64;tienda.com</p>
      <p>477 130 4707</p>
    </div>
  </div>
</section>
