<div class="container my-auto">
  <div class="columns">
    <div class="column is-three-fifths">
      <h1 class="title">Escribenos</h1>
      <hr>
      <div class="field is-horizontal p-3">
        <div class="field-label is-normal">
          <label class="label">From</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Nombre">
              <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
              <input class="input is-success" type="email" placeholder="Correo">
              <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
              <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal p-2">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  +52
                </a>
              </p>
              <p class="control is-expanded">
                <input class="input" type="tel" placeholder="Número de telefono">
              </p>
            </div>
            <p class="help">Do not enter the first zero</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal p-4">
        <div class="field-label is-normal">
          <label class="label">Ciudad</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select>
                  <option>Ciudad</option>
                  <option>León</option>
                  <option>Silao</option>
                  <option>Celaya</option>
                  <option>Irapuato</option>
                  <option>No se aaa</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal p-4">
        <div class="field-label">
          <label class="label">Suscribir al newsletter?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" name="member">
                Si
              </label>
              <label class="radio">
                <input type="radio" name="member">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Tema</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="ej. Solicitar medicamento">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal p-4">
        <div class="field-label is-normal">
          <label class="label">Pregunta</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" placeholder="Explica que podemos hacer por ti"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal p-4">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary">
                Enviar mensaje
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-7">
      <h1 class="title">Donde encontrarnos</h1>
      <hr>
      <p>
        Torreyana #109 La vigatta, León Guanajuato. México
        Tel. 477 130 4707

        <br>
        Contacto:
        José Salvador Muñoz Evangelista
      </p>
    </div>
  </div>
</div>
