<nav class="navbar" role="navigation" aria-label="main-navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">FARMACIA PEPE</a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">
        Inicio
      </a>
      <a class="navbar-item" routerLink="productos">
        Productos
      </a>
      <a class="navbar-item" routerLink="contacto">
        Contacto
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
